<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moja aplikacija</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Dobrodošli na Moju aplikaciju!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/nastavnici">Prikaz nastavnika</a></li>
            <li><a href="/ispiti">Prikaz ispita</a></li>
            <li><a href="/kontakt">Kontaktirajte nas</a></li>
        </ul>
    </nav>
    <main>
        <h2>O aplikaciji</h2>
        <p>Dobrodošli na Moju aplikaciju! Ova aplikacija omogućuje vam pregled nastavnika i ispita te upravljanje njima.</p>
        <p>Za više informacija ili podršku, kontaktirajte nas putem e-maila ili telefona.</p>
    </main>
    <footer>
        <p>&copy; 2023 Moja aplikacija. Sva prava pridržana.</p>
    </footer>
</body>
</html>
