<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Polaganje ispita iz Zaštite na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form th:action="@{/registracija}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="submit">Registracija</button>
        </form>
        <form th:action="@{/login}" method="post" class="form-signin">
            <h3 class="form-signin-heading">Dobrodošli</h3>
            <br/>
            <input type="text" id="username" name="username" th:placeholder="Email" class="form-control" /> <br/>
            <input type="password" id="password" name="password" th:placeholder="Lozinka" class="form-control" /> <br/>

        
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit">PRIJAVA</button>
        </form>
       <a href="@{/registracija}">Registracija</a>
    </div>
</body>
</html>

