<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Popis nastavnika</title>
</head>
<body>
    <h1>Popis nastavnika</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Akcije</th>
        </tr>
        <!-- Ovdje se dinamički generiraju redovi tablice s podacima o nastavnicima -->
        <tr th:each="nastavnik : ${nastavnici}">
            <td th:text="${nastavnik.id_nastavnik}"></td>
            <td th:text="${nastavnik.ime_nastavnik}"></td>
            <td th:text="${nastavnik.prezime_nastavnik}"></td>
            <td th:text="${nastavnik.email_nastavnik}"></td>
            <td>
                <!-- Poveznice za uređivanje i brisanje nastavnika -->
                <a th:href="@{/nastavnici/uredi/{id}(id=${nastavnik.id_nastavnik})}">Uredi</a>
                <a th:href="@{/nastavnici/obrisi/{id}(id=${nastavnik.id_nastavnik})}">Obriši</a>
            </td>
        </tr>
    </table>

    <a href="/nastavnici/dodaj_nastavnika">Dodaj novog nastavnika</a>
</body>
</html>
