<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Popis nastavnika</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css)"/>
</head>
<body>
    <h1>Popis nastavnika</h1>
    <nav>
        <ul>
            <li><a href="/">Početna</a></li>
            <li><a href="/ispiti">Prikaz ispita</a></li>
        </ul>
    </nav>
    <table>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Akcije</th>
        </tr>
        
        <tr th:each="nastavnik : ${nastavnici}">
            <td th:text="${nastavnik.id_nastavnik}"></td>
            <td th:text="${nastavnik.ime_nastavnik}"></td>
            <td th:text="${nastavnik.prezime_nastavnik}"></td>
            <td th:text="${nastavnik.email_nastavnik}"></td>
            <td>
                
                <a th:href="@{/nastavnici/uredi/{id}(id=${nastavnik.id_nastavnik})}">Uredi</a>
                <a th:href="@{/nastavnici/obrisi/{id}(id=${nastavnik.id_nastavnik})}">Obriši</a>
            </td>
        </tr>
    </table>

    <a href="/nastavnici/dodaj_nastavnika">Dodaj novog nastavnika</a>
</body>
<footer>
    <p>&copy; 2023 MEV - Zaštita na radu. Sva prava pridržana.</p>
</footer>
</html>

