<meta charset="utf-8"/>
<title>Polaganje ispita iz Zaštite na radu</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div align="center">
 <h1>ZAŠTTIA NA RADU</h1>
 <!-- Prikaz popisa korisnika -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <!-- Iteracija kroz popis korisnika -->
        <tr th:each="korisnik : ${korisnici}">
            <td th:text="${korisnik.ime}"></td>
            <td th:text="${korisnik.prezime}"></td>
            <td th:text="${korisnik.email}"></td>
        </tr>
    </tbody>
</table>

<!-- Dodavanje novog korisnika -->
<form th:action="@{/dodaj_korisnika}" method="post" th:object="${korisnik}" class="form">
    <input type="text" th:field="*{ime}" placeholder="Ime" class="form-control" />
    <input type="text" th:field="*{prezime}" placeholder="Prezime" class="form-control" />
    <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />
    <input type="password" th:field="*{lozinka}" placeholder="Lozinka" class="form-control" />
    <input type="submit" value="Dodaj korisnika" class="btn btn-primary" />
</form>

<!-- Uređivanje postojećeg korisnika -->
<form th:action="@{/uredi_korisnika}" method="post" th:object="${korisnik}" class="form">
    <input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{ime}" placeholder="Ime" class="form-control" />
    <input type="text" th:field="*{prezime}" placeholder="Prezime" class="form-control" />
    <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />
    <input type="password" th:field="*{lozinka}" placeholder="Lozinka" class="form-control" />
    <input type="submit" value="Spremi" class="btn btn-primary" />
</form>

<!-- Brisanje korisnika -->
<a th:href="@{/brisi/{id}(id=${korisnik.id})}" class="btn btn-danger">Izbriši</a>

</div>
</body>
</html>