<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>MEV - Zaštita na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style> 
    	body {background-image: url("images/mev.jpg");}
    	.table tbody tr td {color: white;}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Nastavnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">              
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dodaj_predavanje}">Novo Predavanje</a>
                </li>                
                 <li class="nav-item">
                    <a class="nav-link" th:href="@{/odjava}">Odjava</a>                   
                </li>            
            </ul>
        	<div class="ml-auto">
            	<img src="images/logo.jpg" alt="Logotip" width="60" height="60" class="d-inline-block align-top">
        	</div>
        </div>
    </nav>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Naziv predavanja</th>
                    <th>Opis predavanja</th>
                    <th>Početak predavanja</th>
                    <th>Završetak predavanja</th>
                    <th>Status predavanja</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="predavanje : ${predavanja}">                   
                    <td th:text="${predavanje.naziv_predavanja}"></td>
                    <td th:text="${predavanje.opis_predavanja}"></td>
                    <td th:text="${predavanje.pocetak_predavanja}"></td>
                    <td th:text="${predavanje.zavrsetak_predavanja}"></td>
                    <td th:text="${predavanje.status_predavanja}"></td>
                    <td>                       
                        <a th:if="${predavanje.status_predavanja == 'NOVO'}" 
                        th:href="@{/uredi_predavanje/{id}(id=${predavanje.id})}" class="btn btn-primary">Uredi</a>               
                        <a th:if="${predavanje.status_predavanja == 'NOVO'}"
                        th:href="@{/brisi_predavanje/{id}(id=${predavanje.id})}" class="btn btn-danger" onclick="return confirm('Jeste li sigurni da želite obrisati predavanje?');">Izbriši</a>
                        <a th:href="@{/prijave/{id}(id=${predavanje.id})}" class="btn btn-success">Prijave</a>
                    </td>
                </tr>
            </tbody>    
        </table> 
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  		<div class="container p-4">
  			<a class="text-white">ZAŠTITA NA RADU</a>
  		</div> 
  		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   					 © 2023 Copyright:
    		<a class="text-white" href="https://mdbootstrap.com/">MEV</a>
  		</div>
	</footer>       
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

        

        

        

       

    



