<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Polaganje ispita iz Zaštite na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Nastavnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registracija}">Registracija</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/uredi_korisnik}">Uredi korisnika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/brisi_korisnik}">Brisanje korisnika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/predavanje}">Predavanja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/prijave}">Prijave</a>
                </li>
            </ul>
        </div>
    </nav>

    
<!-- Prikaz popisa korisnika -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Email</th>
                </tr>
            </thead>           
        </table>
		<!-- Dodavanje novog korisnika -->
        <form th:action="@{/registracija}" method="post" th:object="${korisnik}" class="form">
            <input type="text" th:field="*{ime}" placeholder="Ime" class="form-control" />
            <input type="text" th:field="*{prezime}" placeholder="Prezime" class="form-control" />
            <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />
            <input type="password" th:field="*{lozinka}" placeholder="Lozinka" class="form-control" />
            <input type="submit" value="Registriraj se" class="btn btn-primary" />
        </form>

        <!-- Uređivanje postojećeg korisnika -->
        <form th:action="@{/uredi_korisnik}" method="post" th:object="${korisnik}" class="form">
            <input type="hidden" th:field="*{id}" />
            <input type="text" th:field="*{ime}" placeholder="Ime" class="form-control" />
            <input type="text" th:field="*{prezime}" placeholder="Prezime" class="form-control" />
            <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />
            <input type="password" th:field="*{lozinka}" placeholder="Lozinka" class="form-control" />
            <input type="submit" value="Spremi" class="btn btn-primary" />
        </form>

        <!-- Brisanje korisnika -->
        <a th:href="@{/korisnik/brisi/{id}(id=${korisnik.id})}" class="btn btn-danger">Izbriši</a>
    
       
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

        

        

       

    



