<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ispit - Zaštita na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Nastavnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registracija}">Registracija</a>
                </li>
         
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/predavanje}">Predavanja</a>
                </li>
                
                 <li class="nav-item">
                    <a class="nav-link" th:href="@{/odjava}">Odjava</a>                   
                </li>              
            </ul>
        </div>
    </nav>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
					<th>ID</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Email</th>
                    <th>Akcije</th>
                </tr>
            </thead>  
            <tbody>
                <tr th:each="korisnik : ${korisnici}">
                    <td th:text="${korisnik.id}"></td>
                    <td th:text="${korisnik.ime}"></td>
                    <td th:text="${korisnik.prezime}"></td>
                    <td th:text="${korisnik.email}"></td>
            
                    <td>
                        <a th:href="@{/uredi_korisnik/{id}(id=${korisnik.id})}" class="btn btn-primary">Uredi</a>
                        <a th:href="@{/brisi_korisnik/{id}(id=${korisnik.id})}" class="btn btn-danger">Izbriši</a>
                    </td>
                </tr>
            </tbody>         
        </table>
     
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

        

        

        

       

    



