<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ispit - Zaštita na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Ispit - Zaštita na radu</h1>
        </div>
         <!-- Dodavanje predavanja -->
         <a th:href="@{/dodaj_predavanje}" class="btn btn-primary">Dodaj predavanje</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Naziv predavanja</th>
                    <th>Opis predavanja</th>
                    <th>Početak predavanja</th>
                    <th>Završetak predavanja</th>
                    <th>Status predavanja</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="predavanje : ${predavanja}">
                    <td th:text="${predavanje.id}"></td>
                    <td th:text="${predavanje.naziv_predavanja}"></td>
                    <td th:text="${predavanje.opis_predavanja}"></td>
                    <td th:text="${predavanje.pocetak_predavanja}"></td>
                    <td th:text="${predavanje.zavrsetak_predavanja}"></td>
                    <td th:text="${predavanje.status_predavanja}"></td>
                    <td>
                        
                        <a th:href="@{/uredi_predavanje/{id}(id=${predavanje.id})}" class="btn btn-primary">Uredi</a>
                     
                        <a th:href="@{/brisi_predavanje/{id}(id=${predavanje.id})}" class="btn btn-danger">Izbriši</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
