<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ispit - Zaštita na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Ispit - Zaštita na radu</h1>
            <a th:href="@{/pocetna-nastavnik}" class="btn btn-secondary">Povratak na početnu stranicu</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Predavanje</th>
                    <th>Student</th>
                    <th>Datum prijave</th>
                    <th>Ocjena</th>
                    <th>Položeno</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prijava : ${prijave}">
                    <td th:text="${prijava.id}"></td>
                    <td th:text="${prijava.predavanje.naziv_predavanja}"></td>
                    <td th:text="${prijava.student.ime} + ' ' + ${prijava.student.prezime}"></td>
                    <td th:text="${prijava.datumPrijave}"></td>
                    <td th:text="${prijava.ocjena}"></td>
                    <td th:text="${prijava.polozeno} ? 'Da' : 'Ne'"></td>
                    <td>
                        <a th:href="@{/uredi_prijava/{id}(id=${prijava.id})}" class="btn btn-danger">Ocijeni</a>
                    </td>
                    <!--/*  ako ima ocjenu onda hidden gumb */-->
                   
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>