<form th:action="@{/prijava}" id="login-form" method="post" th:object="${loginData}" >
<div class="input-box" title="Upišite korisnièku oznaku">
<div class="error">
<p th:if="${loginError}" class="errorText">Greška: Neispravna korisnièka oznaka ili zaporka.</p><br>
</div>
<div class="input-box" title="Upišite korisnièku oznaku">
<label class="entryText" for="username" aria-label="Upišite korisnièku oznaku " >KORISNIÈKA OZNAKA
</label>
<input th:field="*{email}" >
</div>
<div class="input-box" title="Upišite zaporku ">
<label class="entryText" for="password" aria-label="Upišite zaporku >ZAPORKA
</label>
<input th:field="*{lozinka}" type="password" aria-label="Upišite zaporku " >
</div>
<button type="submit" class="login-btn" aria-label="Kliknite ovdje za prijavu u sustav" >PRIJAVA</button>
</form>