<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Polaganje ispita iz Zaštite na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>ZAŠTTIA NA RADU</h1>
        </div>
        <form th:action="@{/dodaj_prijava}" method="post" th:object="${prijava}" class="form">
            <div class="form-group">
                <label for="predavanje">Predavanje</label>
                <select id="predavanje" th:field="*{predavanje}" class="form-control">
                    <option th:each="predavanje : ${predavanja}" th:value="${predavanje}" th:text="${predavanje.naziv_predavanja}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="student">Student</label>
                <select id="student" th:field="*{student}" class="form-control">
                    <option th:each="student : ${studenti}" th:value="${student}" th:text="${student.ime} + ' ' + ${student.prezime}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="datumPrijave">Datum prijave</label>
                <input type="date" id="datumPrijave" th:field="*{datumPrijave}" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ocjena">Ocjena</label>
                <input type="number" id="ocjena" th:field="*{ocjena}" class="form-control" />
            </div>
            <div class="form-check">
                <input type="checkbox" id="polozeno" th:field="*{polozeno}" class="form-check-input" />
                <label class="form-check-label" for="polozeno">Položeno</label>
            </div>
            <input type="submit" value="Dodaj prijavu" class="btn btn-primary" />
        </form>
    </div>
</body>
</html>
