<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ispit - Zaštita na radu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Ispit - Zaštita na radu</h1>
        </div>
        <form th:action="@{/uredi_prijava}" method="post" th:object="${prijava}" class="form">
            <input type="hidden" th:field="*{id}" />
                       <input type="hidden" th:field="*{predavanje}" />
            <input type="hidden" th:field="*{student}" />
            <div class="form-group">
                <label for="predavanje">Predavanje:</label>
                <p th:text="*{predavanje.naziv_predavanja}"/>
            </div>
             <div class="form-group">
                <label for="student">Student:</label>
                <p th:text="*{student.ime + ' ' + student.prezime}"></p>
            </div>           
            <div class="form-group">
                <label for="datumPrijave">Datum prijave:</label>
                <p th:text="*{datumPrijave}" />
            </div>
            <div class="form-group">
                <label for="ocjena">Ocjena:</label>
                <input type="number" th:field="*{ocjena}" class="form-control" id="ocjena" min="2" max="5"/>
            </div>        
            <input type="submit" value="Spremi" class="btn btn-primary" />
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>