<!-- Prikaz popisa predavanja -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Naziv predavanja</th>
      <th>Opis predavanja</th>
      <th>Poèetak predavanja</th>
      <th>Završetak predavanja</th>
      <th>Status predavanja</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <!-- Iteracija kroz popis predavanja -->
    <tr th:each="predavanje : ${predavanja}">
      <td th:text="${predavanje.id}"></td>
      <td th:text="${predavanje.naziv_predavanja}"></td>
      <td th:text="${predavanje.opis_predavanja}"></td>
      <td th:text="${predavanje.pocetak_predavanja}"></td>
      <td th:text="${predavanje.zavrsetak_predavanja}"></td>
      <td th:text="${predavanje.status_predavanja}"></td>
      <td>
        <!-- Ureðivanje postojeæeg predavanja -->
        <a th:href="@{/uredi_predavanje/{id}(id=${predavanje.id})}" class="btn btn-primary">Uredi</a>
        <!-- Brisanje predavanja -->
        <a th:href="@{/brisi/{id}(id_predavanje=${predavanje.id})}" class="btn btn-danger">Izbriši</a>
      </td>
    </tr>
  </tbody>
</table>

<!-- Dodavanje novog predavanja -->
<form th:action="@{/dodaj_predavanje}" method="post" th:object="${predavanje}" class="form">
  <input type="text" th:field="*{naziv_predavanja}" class="form-control" placeholder="Naziv predavanja" />
  <textarea th:field="*{opis_predavanja}" class="form-control" placeholder="Opis predavanja"></textarea>
  <input type="datetime-local" th:field="*{pocetak_predavanja}" class="form-control" placeholder="Poèetak predavanja" />
  <input type="datetime-local" th:field="*{zavrsetak_predavanja}" class="form-control" placeholder="Završetak predavanja" />
  <input type="text" th:field="*{status_predavanja}" class="form-control" placeholder="Status predavanja" />
  <input type="submit" value="Dodaj predavanje" class="btn btn-primary" />
</form>

<!-- Ureðivanje postojeæeg predavanja -->
<form th:action="@{/uredi_predavanje}" method="post" th:object="${predavanje}" class="form">
  <input type="hidden" th:field="*{id}" />
  <input type="text" th:field="*{naziv_predavanja}" class="form-control" placeholder="Naziv predavanja" />
  <textarea th:field="*{opis_predavanja}" class="form-control" placeholder="Opis predavanja"></textarea>
  <input type="datetime-local" th:field="*{pocetak_predavanja}" class="form-control" placeholder="Poèetak predavanja" />
  <input type="datetime-local" th:field="*{zavrsetak_predavanja}" class="form-control" placeholder="Završetak predavanja" />
  <input type="text" th:field="*{status_predavanja}" class="form-control" placeholder="Status predavanja" />
  <input type="submit" value="Spremi promjene" class="btn btn-primary" />
</form>

<!-- Brisanje predavanja -->
<a th:href="@{/brisi/{id}(id_predavanje=${predavanje.id})}" class="btn btn-danger">Izbriši</a>
